/** im terrible at css :( */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  width: 300px;
  text-align: center;
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  padding: 1rem;
  color: white;
  padding-bottom: 0.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  list-style-type: none;
  padding: 10px 0;
}

li div div.account-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin-bottom: 3px;
}

input {
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 16px;
  outline: 0;
  border: none;
  color: white;
  background: hsla(0, 0%, 100%, 0.2);
  transition: 0.2s ease-in-out;
}

::placeholder {
  color: lightgray;
}

input:focus {
  outline: 0;
  transition: 0.2s ease-in-out;
  background: hsla(0, 0%, 100%, 0.4);
  color: white;
}

#err {
  margin-bottom: 16px;
}

button {
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 16px;
  outline: 0;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  font-weight: 500;
  transition: 0.2s ease-in-out;
}

button:hover {
  transition: 0.2s ease-in-out;
  transform: translateY(-3px);
}

.account-details h3 {
  margin: 0;
}

.account-codes {
  padding: 0;
}

.code {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0px;
}

.code-timer-wrapper {
  height: 10px;
  background: lightgray;
  border-radius: 8px;
  padding: 0;
}

.code-timer {
  height: 100%;
  border-radius: 8px;
  background-color: #3bb78f;
  background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
  width: 79%;
}

.account {
  margin-bottom: 16px;
}
